services:
  reverse-proxy:
    build: ./reverse-proxy
    container_name: reverse-proxy
    ports:
      - "80:80"
    depends_on:
      - spring-api
      - webapp
    networks:
      - public

  spring-api:
    build: ./spring-api
    container_name: spring-api
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:${POSTGRES_PORT}/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      - db
    networks:
      - backend
      - public

  webapp:
    build:
      context: ./webapp
      args:
        VITE_API_BASE_URL: "http://localhost"
    container_name: webapp
    networks:
      - public

  db:
    image: postgres:${POSTGRES_VERSION}
    container_name: postgres-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  postgres_data:

networks:
  public:
  backend: